name: lingos
description: "Language Learning Platform"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  shared_preferences: ^2.2.2
  flutter_tts: ^4.2.5
  just_audio: ^0.10.5
  speech_to_text: ^7.0.0
  bubble_picker: ^0.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/data/content.json
    - assets/sound_effects/correct.wav
    - assets/sound_effects/incorrect.mp3
